.container{
    padding: 24px 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.container-perfil{
    margin-bottom: 20px;
    border-bottom: 2px solid #121a2c;
}


.perfil-info{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    color: #e9edf9;
    margin-bottom: 10px;
}

.image{
    width: 200px;
    height: 180px;
    background-color:#e9edf951;
    border: 1px solid #121a2c;
    border-radius: 10px;
}

.infos{
    font-size: 24px;
}



/* Barra de pesquisa */
#search-bar{
    width: 100%;
    margin-bottom: 30px;
}

#search-bar form{
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 700px;
    margin: 0 auto;
}

#search-bar input[type="text"]{
    flex: 1;
    height: 45px;
    padding: 0 15px;
    border: 1px solid #223258;
    border-radius: 6px;
    background-color: #121a2c;
    color: #e9edf9;
    font-size: 16px;
}

#search-bar input[type="text"]::placeholder{
    color: #9aa7c7;
}

#search-bar input[type="submit"]{
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 6px;
    background-color: #223258;
    color: #e9edf9;
    cursor: pointer;
    transition: .3s;
}

#search-bar input[type="submit"]:hover{
    background-color: #4c6fff;
}